* {
  font-family: 'Times New Roman', serif;
}

body {
  padding: 35px;
}

.card {
  align-content: center;
  border: 1px solid blue;
  border-radius: 25px;
  overflow: hidden;
  align-items: center ;
  margin-right: 30px;
  margin-bottom: 20px;
}

.card p {
  text-align: center;
  font-size:12px;
}

.card img {
  max-height: 175px;
  max-height: auto;
}

.cardGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}